<!DOCTYPE html>
<html>

<head></head>

<body>
  <div th:fragment="header-anon" class="header_wrapper">
    <div class="container">
      <header>
        <div class="header_branding block_inner">
          <img height="65px" th:src="@{/images/s_logo.svg}" alt="Marinesco">
        </div>
        <nav id="header_right_block" class="block">
          <div class="block_inner">
            <ul class="ul_right_block">
              <li class="li_header_block">
                <a class="header_entry header_entry_link" href="/login" th:href="@{/login}">Sign in</a>
              </li>
            </ul>
          </div>
        </nav>
        <nav id="header_menu_block" class="header_entry">
          <ul class="ul_right_block">
            <li class="li_header_block header_title">
              Marinesco
            </li>
          </ul>
        </nav>
      </header>
    </div>
  </div>

  <div th:fragment="header-auth" class="header_wrapper">
    <div class="container">
      <header>
        <div class="header_branding block_inner">
          <a href="/">
            <img height="65px" th:src="@{/images/s_logo.svg}" alt="Marinesco">
          </a>
        </div>
        <nav id="header_right_block" class="block">
          <div class="block_inner">
            <ul class="ul_right_block">
              <li class="li_header_block" th:if="${#authentication.principal.isAdmin()}">
                <a class="header_entry header_entry_link" href="/settings">Settings</a>
              </li>
              <li class="li_header_block">
                <a class="header_entry header_entry_link" href="/profile">Profile</a>
              </li>
              <li class="li_header_block">
                <span class="header_entry">|</span>
              </li>
              <li class="li_header_block">
                <a id="logout" class="header_entry header_entry_link" href="/logout">Logout</a>
              </li>
            </ul>
          </div>
        </nav>

        <nav id="header_menu_block" class="search_entry wrapper">
          <ul class="ul_right_block">
            <li class="li_header_block">
                <form action="/search" method="get">
                  <div class="wrapper">
                    <input class="search_line" type="text" name="search" th:value="${searchPattern}">
                  </div>
                  <div class="wrapper" style="justify-content: space-evenly; align-items: baseline; ">
                    <div class="search_checkbox">
                      <input th:checked="${isTitle}" name="title" type="checkbox" />
                      <label for="title">Title</label>
                    </div>
                    <div class="search_checkbox">
                      <input th:checked="${isSeries}" name="series" type="checkbox" />
                      <label for="series">Series</label>
                    </div>
                    <div class="search_checkbox">
                      <input th:checked="${isAuthor}" name="author" type="checkbox" />
                      <label for="author">Author</label>
                    </div>
                    <div class="" style="margin-right: auto;">
                      <button class="button-header" type="submit">Search</button>
                    </div>
                  </div>
                </form>
            </li>
          </ul>
        </nav>
    </header>
  </div>
  </div>
  <!--
      <div th:replace="~{fragments/header :: ${#authentication.principal.isAdmin()} ? 'header-admin' : 'header'}"></div>
      <div th:replace="~{fragments/header :: ${#authorization.expression('isAuthenticated()')} ? 'header-auth' : 'header'}"></div>
    -->
  <div th:fragment="header-content-admin">

  </div>

</body>

</html>