<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title th:text="${book != null ? book.title : 'Marinesco'}"></title>
    <link rel="icon" href="/favicon.svg" type="image/svg+xml">
    <link rel="alternate icon" href="/favicon.png" type="image/png">
    <link rel="stylesheet" th:href="@{/styles/styles.css}" />
</head>

<body>
    <div class="page">
        <div th:replace="~{fragments/header :: ${#authorization.expression('isAuthenticated()')} ? 'header-auth' : 'header-anon'}"></div>
        <div class="container base">
            <span class="validationError" th:if="${Error} != null" th:text="${Error}"></span>
            <div th:if="${book} != null">
                <div class="title" th:text="${book.title}"></div>
                <div class="series" th:if="${book.series} != ''" th:text="${book.series}"></div>
                    <br />
                <div th:each="author : ${book.authors}">
                    <a th:href="${'/author/' + author.id}" th:text="${author.authorName}"></a>
                </div>
                <br />
                <span th:each="genre : ${book.genres}" th:text="${((genre.humanReadableDescription == null || genre.humanReadableDescription == '') ? genre.genreId : genre.humanReadableDescription) + '&nbsp;&nbsp;'}"></span>
                <p>
                    <a th:href="${'/download/?container=' + book.container + '&file=' + book.fsFileName}" 
                        th:text="${'Download ' + book.fileExtension + ' (' + book.fileSizeForHumans + ')'}"></a>
                </p>
                <div class="not_important" th:if="${book.serNo} != ''" th:text="${'Series # : ' + book.serNo}"></div>
                <div class="not_important" th:if="${book.addedDate} != null" th:text="${'Added : ' + book.addedDate}"></div>
            </div>
        </div>
    </div>
    <div th:replace="~{fragments/footer :: 'footer'}"></div>
</body>

</html>