<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Marinesco</title>
    <link rel="icon" href="/favicon.svg" type="image/svg+xml">
    <link rel="alternate icon" href="/favicon.png" type="image/png">
    <link rel="stylesheet" th:href="@{/styles/styles.css}" />
</head>

<body>
    <div class="page">
        <div th:replace="~{fragments/header :: 'header'}"></div>
        <div class="container base">
            <span class="validationError" th:if="${Error} != null" th:text="${Error}"></span>
            <div th:if="${book} != null">
                <br /><span th:text="${'Title: ' + book.title}"></span>
                <br /><span>Authors: </span>
                <div th:each="author : ${book.authors}">
                    <span th:text="${'  * ' + author.authorName}"></span>
                </div>
                <br /><span>Genres: </span>
                <div th:each="genre : ${book.genres}">
                    <span th:text="${'  * ' + genre.genreId + ' — ' + genre.humanReadableDescription}"></span>
                </div>
                <br /><span th:if="${book.series} != null" th:text="${'Series: ' + book.series}"></span>
                <br /><span th:if="${book.serNo} != null" th:text="${'Series # : ' + book.serNo}"></span>
                <br /><span th:text="${'Format: ' + book.fileExtension}"></span>
                <br /><span th:if="${book.addedDate} != null" th:text="${'Added : ' + book.addedDate}"></span>
                <br /><span th:text="${'Size: ' + book.fileSize + ' bytes'}"></span>
                <p>
                    <a th:href="'/'" th:text="Download"></a>
                </p>
            </div>
        </div>
    </div>
    <div th:replace="~{fragments/footer :: 'footer'}"></div>
</body>

</html>