<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <link rel="stylesheet" th:href="@{/styles/styles.css}" />
    <title th:text="${code}">title</title>
</head>

<body>
    <div class='error'>
        <a href="/">
            <img height="65px" th:src="@{/images/s_logo.svg}" alt="Marinesco">
        </a>
        <p>
            ОШИБКА <span class='bli' th:text="${code}"></span>
        </p>
    </div>
</body>

</html>