<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Marinesco - Login</title>
  <link rel="icon" href="/favicon.svg" type="image/svg+xml">
	<link rel="alternate icon" href="/favicon.png" type="image/png">
  <link rel="stylesheet" th:href="@{/styles/styles.css}" />
</head>

<body>
  <div th:replace="~{fragments/header :: 'header'}"></div>
  <div class="page">
    <div class="center">
      <div class="container base">
        <h1>Log in</h1>
        <a href="/register">Register</a>
        <form class="form-signin" method="post" action="/login">
          <br /><span class="validationError" th:if="${param.error}">Unable to login. Check your username and
            password.</span>
          <p>
            <label for="username" class="sr-only">Username</label>
            <input type="text" id="username" name="login" class="form-control" placeholder="Username" required
              autofocus>
          </p>
          <p>
            <label for="password" class="sr-only">Password</label>
            <input type="password" id="password" name="pwd" class="form-control" placeholder="Password" required>
          </p>
          <button class="sign" type="submit">Sign in</button>
        </form>
      </div>
    </div>
  </div>
  <div th:replace="~{fragments/footer :: 'footer'}"></div>
</body>

</html>