<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Marinesco - Manage users</title>
    <link rel="icon" href="/favicon.svg" type="image/svg+xml">
    <link rel="alternate icon" href="/favicon.png" type="image/png">
    <link rel="stylesheet" th:href="@{/styles/styles.css}" />
</head>

<body>
    <div class="page">
        <div th:replace="~{fragments/header :: 'header'}"></div>
        <div class="container base">
            <h1 th:text="${header_text}"></h1>
            <p>
            <div th:each="user : ${users}">
                <form method="POST" th:action="@{/manage_users/update}" th:object="${userGenerified}">
                    <span th:text="${user.id + '. '}"></span>
                    <span th:text="${user.name}"></span>
                    <input type="hidden" th:value="${user.id}" name="id" />
                    <input type="hidden" th:value="${user.name}" name="name" />
                    <br />
                    Display name:
                    <input type="text" th:value="${user.displayName}" name="displayName" />
                    <p>
                        Password:
                        <input type="password" name="password" />
                    </p>
                    <b>Roles:</b>
                    <div th:each="athorities : ${user.athorities}">
                        <input name="athorities" type="checkbox" th:value="${athorities.id}" th:checked="true" />
                        <span th:text="${athorities.name}"></span><br />
                    </div>
                    <div th:each="athorities : ${user.athoritiesLost}">
                        <input name="athorities" type="checkbox" th:value="${athorities.id}" />
                        <span th:text="${athorities.name}"></span><br />
                    </div>

                    <button>Update</button><a th:href="'/manage_users/delete/' + ${user.id}">Delete</a>
                </form>
                <br />
                <hr>
            </div>
            <hr>
            <b>Add user</b>
            <form method="POST" th:action="@{/manage_users}" th:object="${administatorAddUserForm}">
                <span class="validationError" th:if="${loginOccupied} != null" th:text="${loginOccupied}">pew</span>
                <span class="validationError" th:if="${#fields.hasErrors('username')}"
                    th:errors="*{username}">Error</span>
                <br />
                <label for="username">Username: </label>
                <input type="text" name="username" id="username" size="50%" /><br />

                <span class="validationError" th:if="${#fields.hasErrors('password')}"
                    th:errors="*{password}">Error</span>
                <br />
                <label for="password">Password: </label>
                <input type="password" name="password" id="password" size="50%" /><br />
                <span class="validationError" th:if="${#fields.hasErrors('displayname')}"
                    th:errors="*{displayname}">Error</span>
                <br />
                <label for="displayname">Displayed name: </label>
                <input type="text" name="displayname" id="displayname" size="50%" /><br />

                <br />
                <b>Roles:</b>
                <br />
                <span class="validationError" th:if="${#fields.hasErrors('athorities')}"
                    th:errors="*{athorities}"></span>
                <div th:each="athorities : ${rolesSet}">
                    <input th:field="*{athorities}" type="checkbox" th:value="${athorities.id}" />
                    <span th:text="${athorities.name}"></span><br />
                </div>

                <p>
                    <button class="sign" type="submit">Add user</button>
                </p>

            </form>

        </div>
    </div>
    <div th:replace="~{fragments/footer :: 'footer'}"></div>
</body>

</html>