<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Marinesco - registration form</title>
    <link rel="icon" href="/favicon.svg" type="image/svg+xml">
	<link rel="alternate icon" href="/favicon.png" type="image/png">
    <link rel="stylesheet" th:href="@{/styles/styles.css}" />
    <script src="/jquery.js"></script>
</head>

<body>
    <div class="page">
        <div th:replace="~{fragments/header :: 'header'}"></div>
        <div class="container base">
            <h1>Currently we're close to new registrations</h1>
        </div>
    </div>
    <div th:replace="~{fragments/footer :: 'footer'}"></div>
</body>

</html>