<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Marinesco - registration form</title>
    <link rel="icon" href="/favicon.svg" type="image/svg+xml">
	<link rel="alternate icon" href="/favicon.png" type="image/png">
    <link rel="stylesheet" th:href="@{/styles/styles.css}" />
    <script src="/jquery.js"></script>
</head>

<body>
    <div class="page">
        <div th:replace="~{fragments/header :: 'header-anon'}"></div>
        <div class="container base">
            <h1>Register</h1>
            <form class="regForm" method="POST" th:action="@{/register}" th:object="${registrationForm}">
                <span id="duplicate_error" class="validationError" th:if="${loginOccupied} != null"
                th:text="${loginOccupied}">pew</span>

                <span id="username_error" class="validationError" th:if="${#fields.hasErrors('username')}"
                    th:errors="*{username}">Error</span>
                <br />
                <label for="username">Username: </label>
                <br />
                <input type="text" name="username" id="username" size="50%" /><br />

                <span id="password_error" class="validationError" th:if="${#fields.hasErrors('password')}"
                    th:errors="*{password}">Error</span>
                <br />
                <label for="password">Password: </label>
                <br />
                <input type="password" name="password" id="password" size="50%" /><br />

                <span id="password_dup_error" class="validationError" th:if="${passwordsMismatch} != null"
                    th:text="${passwordsMismatch}">false</span>
                <br />
                <label for="confirm">Confirm password: </label>
                <br />
                <input type="password" name="passwordConfirm" id="passwordConfirm" size="50%" /><br />

                <span id="displayname_error" class="validationError" th:if="${#fields.hasErrors('displayname')}"
                    th:errors="*{displayname}">Error</span>
                <br />
                <label for="displayname">Displayed name: </label>
                <br />
                <input type="text" name="displayname" id="displayname" size="50%" /><br />
                <p>
                    <button id="register_submit" class="sign" type="submit">Register</button>
                </p>
            </form>
        </div>
    </div>
    <div th:replace="~{fragments/footer :: 'footer'}"></div>
</body>

</html>