<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Marinesco</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <link rel="stylesheet" th:href="@{/styles/styles.css}" />
</head>

<body>
    <div th:replace="~{fragments/header :: 'header'}"></div>
    <img th:src="@{/images/logo.svg}" />
    <br /><a href="/login">Login</a>
    <br /><a href="/profile">/profile</a>
    <br /><a href="/manage_users">/manage_users</a>
</body>

</html>