<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Marinesco - Application settings</title>
    <link rel="icon" href="/favicon.svg" type="image/svg+xml">
    <link rel="alternate icon" href="/favicon.png" type="image/png">
    <link rel="stylesheet" th:href="@{/styles/styles.css}" />
</head>

<body>
    <div class="page">
        <div th:replace="~{fragments/header :: 'header'}"></div>
        <div class="container base">
            <span
                th:text="${'New users registration is now ' + (allowRegistration ? 'enabled. ' : 'disabled. ' )}"></span>
            <a th:href="${'/settings/allow_registration/' + !allowRegistration }"
                th:text="${'Click here to ' + (allowRegistration ? 'disable' : 'enable' )}"></a>
            <p> 
                
                <span class="validationError" th:if="${rescanError} != null" th:text="${rescanError}"></span>
                <span class="validationPass" th:if="${rescanOk} != null" th:text="${rescanOk}"></span>
                <br />
                <a href="/settings/rescan" >Click to rescan library</a>
                <br />
                <span class="validationError" th:if="${lastScanErrors} != ''" th:text="${lastScanErrors}"></span>
            </p>
            <a href="/settings/genres">Edit genre descriptions</a>
        </div>
    </div>
    <div th:replace="~{fragments/footer :: 'footer'}"></div>
</body>

</html>