<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Marinesco - Profile settings</title>
    <link rel="icon" href="/favicon.svg" type="image/svg+xml">
	<link rel="alternate icon" href="/favicon.png" type="image/png">
    <link rel="stylesheet" th:href="@{/styles/styles.css}" />
</head>

<body>
    <div class="page">
        <div th:replace="~{fragments/header :: 'header'}"></div>
        <div class="container base">
            <h1 th:text="${header_text}">welcome</h1>
            <form method="POST" th:action="@{/profile/settings}" th:object="${userSettingsForm}"> <!--   -->
                <span class="validationError" th:if="${#fields.hasErrors('displayname')}"
                    th:errors="*{displayname}">Error</span>
                <br />
                <label for="displayname">Displayed name: </label>
                <br />
                <input type="text" name="displayname" id="displayname" th:value="${userSettingsForm.displayname}"
                    size="50%" /><br />

                <span class="validationError" th:if="${password_incorrect} != null"
                    th:text="${password_incorrect}">false</span>
                <br />
                <label for="password">New password: </label>
                <br />
                <input type="password" name="newPassword" id="newPassword" size="50%" /><br />

                <button class="sign" type="submit">Save Changes</button>
            </form>
        </div>
    </div>
    <div th:replace="~{fragments/footer :: 'footer'}"></div>
</body>

</html>