@font-face {
	font-family: "Spectral";
	src: url('/styles/SpectralSC-Medium.ttf');
}

@font-face {
	font-family: "Arimo";
	src: url('/styles/Arimo-VariableFont_wght.ttf');
}

html {
	line-height: 1.5;
}

body {
	font-family: Arimo;
	background-color: #212121;
	color: #cfcfcf;
	margin: 0;
	padding: 0;
	height: 100vh;
	display: flex;
	flex-direction: column;
}

.page {
	flex: 1 0 auto;
	padding: 0 0 0;
	width: 100%;
}

.validationError {
	color: red;
}

.validationPass {
	color: #00b185;
}

.header-container {
	text-align: left;
	position: relative;
}

.header-container .header-bar {
	position: absolute;
	right: 10px;
}

table,
th,
td {
	border: 1px solid;
	border-collapse: collapse;
}

a {
	text-decoration: none;
}

a:link,
a:visited {
	color: #74bfbd;
}

a:hover,
a:visited:hover {
	text-decoration: underline;
	color: #cfcfcf;
}

.any:visited {
	color: #548a88;
}

ul {
	list-style-type: none;
}

header {
	display: block;
}

.header_wrapper {
	font-family: Spectral;
	background: #323833;
	color: #a7a691;
	vertical-align: top;
	width: 100%;
	padding: 0px;
	margin-bottom: 20px;
	display: inline-block;
}

.container {
	width: 100%;
	max-width: 1280px;
	margin: 0 auto;
}

.header_branding {
	float: left;
}

#header_right_block {
	list-style-type: none;
	list-style-image: none;
	height: 100%;
	margin-right: 0;
	right: 0;
	float: right;
	padding: 0%;
}

#header_menu_block {
	list-style-type: none;
	list-style-image: none;
	height: 100%;
	margin-right: 0;
	right: 0;
	float: left;
	padding: 0%;
}

.search_line {
	margin-left: 2px;
	margin-right: 2px;
	margin-top: 7px;
	margin-bottom: 7px;
	flex-grow: 1;
	justify-content: center;
}

.ul_right_block {
	margin: 0 !important;
	padding: 0 !important;
}

.li_header_block {
	margin-left: 5px;
	margin-right: 5px;
	height: 100%;
	float: left;
	position: relative;
}

.header_entry {
	height: 65px;
	line-height: 65px;
	display: block;
	border-left: 0;
	border-top: 0;
	text-decoration: none;
	font-variant: small-caps;
	text-shadow: -1px -1px 0 #1e1e1e, 1px -1px 0 #1e1e1e, -1px 1px 0 #1e1e1e, 1px 1px 0 #1e1e1e;
	color: #74bfbd;
}

.search_entry {
	text-decoration: none;
	font-variant: small-caps;
	font-size: 0.75em;
	text-shadow: -1px -1px 0 #1e1e1e, 1px -1px 0 #1e1e1e, -1px 1px 0 #1e1e1e, 1px 1px 0 #1e1e1e;
	color: #74bfbd;
}

.search_checkbox {
	flex: auto;
	flex-grow: 1;
}


.header_logo_link:link {
	color: #74bfbd;
}

.header_logo_link:visited {
	color: #74bfbd;
}

.header_logo_link:hover {
	color: #74bfbd;
}

.header_entry_link:link,
.header_entry_link:visited {
	color: #74bfbd;
}

.header_entry_link:hover {
	color: #b6a795;
}

.block {
	display: block;
}

.block_inner {
	margin-left: 10px;
	margin-right: 10px;
}

.header_title {
	font-size: 1.5em;
}


.button-header {
	margin: 0 0.25em;
	font-family: sans-serif;
	font-style: normal;
	font-weight: bold;
	text-align: center;
	font-variant: small-caps !important;
	background-color: #74bfbd !important;
	border: none;
	border-radius: 2px;
	padding: 4px 15px 4px 15px;
	color: #4a3c3c;
}

.button-header:hover {
	background-color: #c2dac0 !important;
}

hr {
	border: 0;
	border-bottom: 1px dashed;
	background: none;
}

button {
	margin: 1em 0;
	font-family: sans-serif;
	font-style: normal;
	font-weight: normal;
	text-align: center;
	font-variant: small-caps !important;
	background-color: #b0c6af !important;
	border: none;
	border-radius: 2px;
	padding: 5px 25px 5px 25px;
	color: #4a3c3c;
}

button:hover {
	background-color: #c2dac0 !important;
}

.sign {
	width: 25%;
}

.base {
	background: #283338;
	padding: 20px;
	box-shadow: 0 0 8px -3px #37474e;
	border-radius: 3px;
	width: 100%;
	flex: 1;
}

.center {
	margin-left: auto;
	margin-right: auto;
	width: 25em;
}

/* footer */
.footer {
	background: #323833;
	color: #a7a691;
	margin-top: 20px;
	width: 100%;
}

.inner_footer {
	padding: 10px;
	display: block;
	float: right;
}

.copy_link {
	font-family: Spectral;
	text-shadow: -1px -1px 0 #1e1e1e, 1px -1px 0 #1e1e1e, -1px 1px 0 #1e1e1e, 1px 1px 0 #1e1e1e;
	color: #74bfbd;
}

/* error */
.error_wrapper{
	margin: auto; 
	height: 100%;
}
.error_inner_wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.error_element1{
	flex: 1 1 auto; 
	display: flex; 
	align-items: center;
}

.error_element2{
	flex: 10 1 auto; 
	display: flex; 
	align-items: center;
}

.error {
	text-align: center;
	background: #283338;
	padding: 20px;
	box-shadow: 0 0 8px -3px #37474e;
	border-radius: 3px;
	margin: auto;
}

.bli {
	display: flex;
	font-size: 4em;
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 2px;
	padding-bottom: 2px;
	height: fit-content;
	width: auto;
	align-items: center;
	background-color: #D00000;
}

.book_title {
	font-weight: bold;
}

.wrapper {
	display: flex;
	flex-wrap: wrap;
}

.horizontal_el_left {
	flex: 1;
	padding-right: 2px;
}

.horizontal_el_right {
	flex: 1;
	padding-left: 2px;
}

.wrapper_centred {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.item0 {
	padding-right: 5px;
	padding-left: 5px;
	flex-grow: 0;
	flex-basis: 15%;
}

.item1 {
	flex-grow: 0;
	padding-right: 5px;
	padding-left: 5px;
	flex-basis: 350px;
}

/* Book page */
.title {
	font-weight: bold;
	font-size: 2em;
}

.series {
	font-style: italic;
	font-size: 1.2em;
}

.not_important {
	font-style: italic;
	color: #888888;
}